article.definition > h1 {
    font-size: 1.17em;
}

article.definition > section > h1 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: -0.2em;
    margin-left: 0;
}

article.definition > section {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

article.method.definition {
    margin-top: 2em;
}

article.reader.definition > section.description,
article.method.definition > section.description {
    margin-top: 0;
}

article.definition > section > * {
    margin-left: 2em;
}

article.definition.see-description-below + article.definition.see-description-below {
    margin-top: 0;
}

article.definition > section.description > p:first-of-type {

}

article.definition article.definition h1 {
    font-size: medium;
}

article.definition article.definition > h1 {
    font-size: large;
}

article.definition .name {
    font-weight: bold;
}

.type {
    font-weight: normal;
    font-style: italic;
}
