@import "https://global.hexstream.dev/css/global.css";
@import "prefs.css";

#page-header-wrapper {
    position: relative;
}

#page-header-wrapper + section {
    margin-left: var(--main_padding-left);
    margin-right: var(--main_padding-right);
    margin-bottom: 0;
}

#page-header-wrapper + section + main {
    margin-top: 0;
}

main section > .body-list > li {
    overflow-x: initial;
}

.scroll {
    max-width: 100%;
}

.scroll > table {
    margin-bottom: 1em;
}

.sidebar main {
    margin-left: 5em;
}

#page-header .description a {
    text-decoration: none;
}


.breadcrumbs .chapter-toggle {
    padding-left: 0;
}

.breadcrumbs .chapter-toggle .here {
    border-color: transparent;
    padding-left: var(--breadcrumbs-link-horizontal-padding);
    padding-right: var(--breadcrumbs-link-horizontal-padding);
}

.breadcrumbs .chapter-toggle .toggle {
    font-size: smaller;
    line-height: 1em;
    align-self: center;
    padding: 0.1em 0.2em;
}

.breadcrumbs .chapter-toggle a.toggle:hover:after,
.breadcrumbs .chapter-toggle a.toggle:focus:after {
    position: absolute;
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    width: 19.8125em;
    border: thin solid transparent;
    margin-left: 0.75em;
    color: black;
}

/* Viewport wide enough to fit tooltip in the rest of the breadcrumbs bar without wrapping. */
@media (max-width: 81.5625em) {
    .breadcrumbs .chapter-toggle {
        position: initial;
    }

    .breadcrumbs .chapter-toggle a.toggle:hover:after,
    .breadcrumbs .chapter-toggle a.toggle:focus:after {
        display: table;
        top: 100%;
        left: 50%;
        width: auto;
        margin-left: -9.90625em;
        text-align: center;
        padding: 0.2em 0.3em;
        border: solid thin gray;
        background: #ECECEC;
    }
}


main ul, main ol {
    list-style-type: initial;
}

ul[type="i"], ol[type="i"] {
    list-style-type: lower-roman;
}

nav ul, nav ol {
    list-style-type: none;
}

section {
    position: relative;
}

section.body-section {
    margin: 0;
}

section.body-section h1 {
    font-size: medium;
    margin: 0 0 -1em 0;
}

.body-list section.body-section h1 {
    margin-left: 1em;
}

div.page {
    position: absolute;
    right: 100%;
    margin-right: 1em;
    width: 3.5em;
    height: 4.5em;
    border: thin solid black;
    line-height: 1.4em;
    white-space: nowrap;
}

.methods .method.definition div.page {
    margin-right: 3em;
}

div.page.approximate:before {
    content: "↳";
}

div.page.approximate.starts-midpage:before {
    content: "↱";
}

div.on.page:before {
    content: "On";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 0.15em;
}

div.page.approximate:before, div.page.approximate a.transition {
    position: absolute;
    right: 100%;
    top: 0%;
    margin-top: 0.25em;
    margin-right: 0.2em;
}

div.page a {
    text-decoration: none;
}

div.page a:hover {
    text-decoration: underline;
}

div.page .hide {
    display: none;
}

div.page > a.page-number {
    position: absolute;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 100%;
}

div.page > a.page-number > span.page-number {
    display: block;
    text-align: center;
}

div.page > a.page-number > span.page-number .page-fraction {
    position: absolute;
}

div.page > a.embedded.page-number {
    top: initial;
    bottom: 0;
}

div.page > a.embedded.page-number > span.page-number:before {
    content: "↳";
}

div.page > a.embedded.page-number > span.page-number:after {
    content: "↲";
}

div.page .anchor {
    position: absolute;
    display: table;
    top: 50%;
    margin-top: -0.7em;
    width: 1.2em;
    left: 50%;
    margin-left: -0.6em;
    text-align: center;
}

@media (max-width: 34em) {
    .sidebar main {
        margin-left: 0;
    }

    div.page {
        position: relative;
        right: initial;
        margin: 0.5em auto;
    }

    div.on.page {
        margin-top: 1.5em;
    }
}

code, .constant {
    font-weight: bold;
    white-space: nowrap;
}

var, .lambda-keyword {
    white-space: nowrap;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 0.2em 0.7em 0;
    border: thin solid lightgray;
    /*background: linen;*/
    max-width: min-content;
}

figure figcaption {
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: -0.5em;
}

figure figcaption p {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

figure table {
    flex: none;
    margin-left: 1em;
    margin-right: 1em;
}

table {
    margin-right: 1em;
}

table caption {
    /*caption-side: bottom;*/
}

table caption p {
    margin-left: 2em;
    margin-right: 2em;
}

a.body-link, .self {
    white-space: nowrap;
}

a.body-link.long {
    white-space: initial;
}

.fixme {
    color: red;
}

.audited {
    color: green;
}

var.keyword-initarg, var.environment-initarg {
    font-style: normal;
    font-weight: bold;
}

article.remark {
    display: table;
    padding: 0.1em 1em;
    margin: 1em 0;
    border: thin solid black;
    border-radius: 1em;
    background-color: #E3DAC9;
}

.body-list {
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
    counter-reset: index;
}

.body-list .body-list {
    margin-left: 2em;
}

.body-list p, .body-list pre {
    margin-left: 1em;
}

.body-list li {
    position: relative;
    counter-increment: index;
}

.body-list li:before {
    content: url("images/disc.svg");
    display: block;
    width: 0.4em;
    height: 0.4em;
    position: absolute;
    left: 0;
    font-weight: bold;
}

.body-list li p:first-child {
    margin-top: 0;
}

.body-list.paren-roman > li p {
    margin-left: 1.7em;
}

.body-list.paren-roman > li:before {
    content: "(" counter(index, lower-roman) ")";
    width: initial;
    height: initial;
    line-height: 1.4em;
}

.body-list.decimal > li:before {
    content: counter(index, decimal) ".";
    width: initial;
    height: initial;
    line-height: 1.4em;
}

#five-prime:before {
    content: "(" counter(index, lower-roman) "')";
    counter-reset: index 5;
    counter-increment: index 0;
}

.body-list div.page {
    margin-right: 1em;
}

.body-list .body-list div.page {
    margin-right: 3em;
}

.description .body-list .body-list div.page {
    margin-right: 4em;
}

@media (max-width: 34em) {
    .body-list div.page,
    .body-list .body-list div.page,
    .description .body-list .body-list div.page {
        margin-right: auto;
    }
}



.mid-paragraph-transition-mark {
    position: absolute;
    margin-left: var(--prefs_mid-paragraph-transition-mark_margin-left);
    margin-top: var(--prefs_mid-paragraph-transition-mark_margin-top);
}

.mid-paragraph-transition-mark:before {
    content: var(--prefs_mid-paragraph-transition-mark_content);
    font-weight: bold;
    color: green;
    font-size: 1.25em;
}


.boilerplate-diff {
    padding: var(--prefs_boilerplate-diff_padding);
    border: var(--prefs_boilerplate-diff_border);
    border-radius: var(--prefs_boilerplate-diff_border-radius);
    background-color: var(--prefs_boilerplate-diff_background-color);
    border-color: var(--prefs_boilerplate-diff_border-color);
    text-decoration: none;
}

.boilerplate-diff .boilerplate-diff {
    border-color: black;
}

ins.boilerplate-diff a {
    text-decoration: underline;
}

.tabs.split + .tabs.split {
    margin-top: 1em;
}
