section.body-section {
    padding-top: 0.8em;
}

.breadcrumbs .chapter-toggle a.toggle:is(:hover, :focus)::after {
    content: "Go to section of the same name in Chapter 6.";
}


#table-of-contents {
    font-size: larger;
    margin-top: 0;
}


#table-of-contents a:where(:not(:is(:hover, :focus))) {
    text-decoration: none;
}

#table-of-contents ol > li:has(ol):hover > a:not(:hover) {
    color: green;
}

#table-of-contents ol li,
#table-of-contents ol li:has(ol) > a {
    padding: 0 0.6em;
    margin: 0.5em 0;
    border: thin solid transparent;
}

#table-of-contents ol ol {
    display: flex;
    flex-flow: row wrap;
}

#table-of-contents ol li:has(ol) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 0;
    border: none;
}

#table-of-contents ol li > ol {
    background-color: rgba(0, 0, 0, 0.05);
    border: thin solid gray;
}

#table-of-contents > ol > li > ol > li > ol {
    margin-left: 0.6em;
    margin-right: 0.6em;
}


#table-5\.1 .direct-superclasses {
    white-space: initial;
}
