html.arguments-and-values\=combined main section:is(.arguments, .values),
html.arguments-and-values\=separate main section.arguments-and-values {
    display: none;
}


.boilerplate-diff,
html.diff\.visibility\=show .boilerplate-diff {
    --prefs_boilerplate-diff_padding: 0 0.3em 0.05em;
    --prefs_boilerplate-diff_border: thin solid;
    --prefs_boilerplate-diff_border-radius: 1.55em;
}

html.diff\.visibility\=hide .boilerplate-diff {
    --prefs_boilerplate-diff_padding: 0;
    --prefs_boilerplate-diff_border: none;
    --prefs_boilerplate-diff_border-radius: initial;
    --prefs_boilerplate-diff_background-color: transparent;
}

ins.boilerplate-diff,
html.diff\.visibility\=show ins.boilerplate-diff {
    --prefs_boilerplate-diff_background-color: rgba(128, 255, 128, 1);
    --prefs_boilerplate-diff_border-color: rgba(128, 255, 128, 1);
}

ins.boilerplate-diff,
html.diff\.visibility\=show del.boilerplate-diff {
    --prefs_boilerplate-diff_background-color: rgba(255, 128, 128, 1);
    --prefs_boilerplate-diff_border-color: rgba(255, 128, 128, 1);
}

html.diff\.visibility\=hide del.boilerplate-diff,
html.diff\.removed\.visibility\=hide del.boilerplate-diff,
html.diff\.visibility\=hide .dels-before-punctuation,
html.diff\.removed\.visibility\=hide .dels-before-punctuation
{
    display: none;
}

html.diff\.removed\.strikethrough\=strike del.boilerplate-diff {
    text-decoration: line-through;
}


html.\/book\/pages\/references\.visibility\=hide div.page {
    display: none;
}

html:is(.\/book\/pages\/references\.visibility\=hide, .\/book\/pages\/mid-paragraph-transition-marks\.visibility\=hide) .mid-paragraph-transition-mark {
    display: none;
}

html .mid-paragraph-transition-mark,
html.\/book\/pages\/mid-paragraph-transition-marks\.type\=⁁ .mid-paragraph-transition-mark {
    --prefs_mid-paragraph-transition-mark_content: "⁁";
    --prefs_mid-paragraph-transition-mark_margin-left: -0.3em;
    --prefs_mid-paragraph-transition-mark_margin-top: 0;
}

html.\/book\/pages\/mid-paragraph-transition-marks\.type\=‸ .mid-paragraph-transition-mark {
    --prefs_mid-paragraph-transition-mark_content: "‸";
    --prefs_mid-paragraph-transition-mark_margin-left: -0.55em;
    --prefs_mid-paragraph-transition-mark_margin-top: -0.05em;
}
