html:not(.arguments-and-values\=separate, .arguments-and-values\=both) main section:is(.arguments, .values),
html.arguments-and-values\=separate main section.arguments-and-values {
    display: none;
}


html.diff\.visibility\=show .boilerplate-diff {
    padding: 0 0.3em 0.05em;
    border: thin solid;
    border-radius: 1.55em;
}

html.diff\.visibility\=show ins.boilerplate-diff {
    background-color: rgba(128, 255, 128, 1);
    border-color: rgba(128, 255, 128, 1);
}

html.diff\.visibility\=show del.boilerplate-diff {
    background-color: rgba(255, 128, 128, 1);
    border-color: rgba(255, 128, 128, 1);
}

html.diff\.visibility\=show ins.boilerplate-diff ins.boilerplate-diff,
html.diff\.visibility\=show del.boilerplate-diff del.boilerplate-diff {
    border-color: black;
}

html:not(.diff\.visibility\=show) del.boilerplate-diff,
html:not(.diff\.removed\.visibility\=show) del.boilerplate-diff,
html:not(.diff\.visibility\=show) .dels-before-punctuation,
html:not(.diff\.removed\.visibility\=show) .dels-before-punctuation {
    display: none;
}

html.diff\.removed\.strikethrough\=strike del.boilerplate-diff {
    text-decoration: line-through;
}


html.\/book\/pages\/references\.visibility\=hide div.page {
    display: none;
}

html:is(.\/book\/pages\/references\.visibility\=hide, .\/book\/pages\/mid-paragraph-transition-marks\.visibility\=hide) .mid-paragraph-transition-mark {
    display: none;
}

html.\/book\/pages\/mid-paragraph-transition-marks\.type\=‸ .mid-paragraph-transition-mark {
    margin-left: -0.35em;
    margin-top: -0.1em;
}

html.\/book\/pages\/mid-paragraph-transition-marks\.type\=‸ .mid-paragraph-transition-mark::before {
    content: "‸";
}
