@media (min-width: 30em) {
    #page-header h1 {
        font-size: 4em;
    }
}

@media (min-width: 34em) {
    #page-header h1 .prefer-nowrap {
        white-space: nowrap;
    }
}

#page-header .description {
    margin-top: 0.25em;
    line-height: 1.4;
}

.navlist section > a {
    padding: 0.75em 1em;
}

.navlist h1 {
    font-size: x-large;
    letter-spacing: initial;
    word-spacing: initial;
}

main .tabs {
    margin-top: 2em;
}

main .tabs ul {
    border-width: 0.15em;
}
