.tabs.column {
    flex-flow: column;
}

.tabs.column ul {
    flex-flow: column;
    border: none;
}

.tabs.column ul > li {
    text-align: left;
}

@media (max-width: 39em) {
    table th {
        white-space: initial;
    }
}

.breadcrumbs .chapter-toggle a.toggle:hover:after,
.breadcrumbs .chapter-toggle a.toggle:focus:after {
    content: "Go to section of the same name in Chapter 5.";
}

#navigation {
    font-size: larger;
    margin-top: 1em;
}

#navigation section > .body {
    max-width: 100%;
    overflow-x: auto;
}

#navigation p {
    font-size: medium;
}

#navigation ul.operator-and-methods {
    display: table;
    border-collapse: collapse;
    flex-flow: column;
    align-items: stretch;
    background-color: #FFCC99;
    border: medium solid black;
    margin-left: 0;
    margin-right: 0;
}

#navigation ul.operator-and-methods + ul.operator-and-methods {
    margin-top: 0.5em;
}

#navigation ul.operator-and-methods > li
{
    display: table-row;
}

#navigation ul.operator-and-methods > li > *
{
    display: table-cell;
    padding: 0.175em 0.25em;
    white-space: nowrap;
}

#navigation ul.operator-and-methods li + li {
    margin-top: 0;
}

#navigation ul.operator-and-methods a {
    text-decoration: none;
}

#navigation ul.operator-and-methods a:hover,
#navigation ul.operator-and-methods a:focus {
    text-decoration: underline;
    background-color: #FFDD99;
}

#navigation ul.operator-and-methods .type {
    text-align: right;
}

#navigation ul.operator-and-methods .name {
    font-weight: bold;
}


#navigation_metaobjects {
    padding-bottom: 0;
}

.horizontally-aligned-titles-and-tabs {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

@media (min-width: 74.125em) {
    #navigation_metaobjects p {
        text-align: center;
    }

    .horizontally-aligned-titles-and-tabs {
        justify-content: center;
    }
}

.horizontally-aligned-titles-and-tabs .tabs {
    padding: 0;
    margin: 0.75em 1em 0.75em 0;
}

.horizontally-aligned-titles-and-tabs .tabs h1 {
    margin: 0 0 0.5rem 0.5em;
    border: none;
    border-left: medium solid transparent;
    font-size: inherit;
}

.horizontally-aligned-titles-and-tabs .tabs.contains-title > h1 > a {
    padding: 0;
}

.horizontally-aligned-titles-and-tabs .tabs.contains-title > h1 > a:hover,
.horizontally-aligned-titles-and-tabs .tabs.contains-title > h1 > a:focus {
    text-decoration: underline;
}

.horizontally-aligned-titles-and-tabs ul {
    list-style-type: none;
    margin: 0;
}

.horizontally-aligned-titles-and-tabs ul li {
    background-color: #FFCC99;
    border: medium solid black;
}

.horizontally-aligned-titles-and-tabs ul li + li {
    margin-top: 0;
    border-top: none;
}

.horizontally-aligned-titles-and-tabs ul li a {
    display: block;
    padding: 0.175em 0.5em;
    text-decoration: none;
    background-color: #FFCC99;
}

.horizontally-aligned-titles-and-tabs ul li a:hover,
.horizontally-aligned-titles-and-tabs ul li a:focus {
    background-color: #FFDD99;
    text-decoration: underline;
}

.horizontally-aligned-titles-and-tabs ul li.setfable,
.tabs ul li.setfable {
    display: flex;
    flex-flow: row;
    justify-content: stretch;
}

.horizontally-aligned-titles-and-tabs ul li.setfable .reader,
.tabs ul li.setfable .reader {
    flex: 1 0;
}

.horizontally-aligned-titles-and-tabs ul li.setfable .writer,
.tabs ul li.setfable .writer {
    flex: none;
    text-align: right;
}

.horizontally-aligned-titles-and-tabs ul li.setfable .writer {
    opacity: 0.5;
}

.tabs ul li.setfable {
    flex: none;
}

.tabs ul li.setfable .reader {
    padding-right: 0.2em;
}

.tabs ul li.setfable .writer {
    padding-left: 0.2em;
}

.horizontally-aligned-titles-and-tabs ul li.setfable .writer:hover,
.horizontally-aligned-titles-and-tabs ul li.setfable .writer:focus {
    opacity: 1;
}

#navigation_protocols #navigation_protocols_summary_dependent-maintenance-protocol {
    align-items: stretch;
}


pre {
    margin-top: 1em;
}


.init-and-or-readers-nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.init-and-or-readers-nav + .tabs {
    margin-top: 1em;
}

.init-and-or-readers-nav table {
    font-size: medium;
    margin: 0 0 1em;
}

@media (max-width: 28.4em) {
    .init-and-or-readers-nav table > thead > tr > th {
        height: 4.5em;
        vertical-align: middle;
    }

    .init-and-or-readers-nav table > thead > tr > th > span {
        display: block;
        width: 1.8em;
        transform: rotate(-90deg) translate(-1.2em);
    }
}

.init-and-or-readers-nav table th,
.init-and-or-readers-nav table td {
    text-align: center;
}

.init-and-or-readers-nav table td a {
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: 50% 50%;
    background-size: 1em;
    color: transparent;
}

.init-and-or-readers-nav table td a {
    background-image: url("https://global.hexstreamsoft.com/css/images/unchecked-radio-button.svg");
}

.init-and-or-readers-nav table td a.here {
    background-image: url("https://global.hexstreamsoft.com/css/images/checked-radio-button.svg");
}


.generated-methods {
    position: relative;
    left: -1.4em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.1em;
    border-left: 0.3em solid rgba(0, 0, 0, 0.25);
    border-radius: 1.4em;
    margin-top: 0;
}

.generated-methods > h1 {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 100%;
    margin-right: -1em;
    transform: rotate(-90deg);
    font-size: 2em;
}

@media (max-width: 34em) {
    main {
        overflow-x: hidden;
    }

    .generated-methods {
        border-left-width: 0.2em;
        left: -0.4em;
        padding-left: 0.2em;
    }

    .generated-methods > h1 {
        position: initial;
        margin: 0 0 -2em 0;
        font-size: 0.9em;
        transform: translate(1em, -0.5em);
    }
}

.generated-methods > h1 a {
    opacity: 0.25;
}

.generated-methods > h1 a:hover {
    opacity: 1;
    text-decoration: underline;
}

#readers-for-class-metaobjects_methods_table-and-descriptions {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

#readers-for-class-metaobjects_methods_table-and-descriptions table {
    font-size: medium;
    flex: none;
    margin-top: 0;
    margin-right: 0.75em;
    margin-left: 0.1em;
}

#readers-for-class-metaobjects_methods_table-and-descriptions table thead th,
#readers-for-class-metaobjects_methods_table-and-descriptions table tbody td {
    text-align: center;
}

#readers-for-class-metaobjects_methods_table-and-descriptions table .chomp.top.left {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#readers-for-class-metaobjects_methods_table-and-descriptions table .chomp.top.left .anchor {
    font-size: x-large;
}

#readers-for-class-metaobjects_methods_table-and-descriptions table .chomp.top.left ~ th a {
    display: inline;
    padding: 0;
}

#readers-for-class-metaobjects_methods_table-and-descriptions ol {
    flex: 1 1;
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    margin-left: 0;
    margin-right: 0;
}

#readers-for-class-metaobjects_methods_table-and-descriptions ol li {
    display: flex;
    flex-flow: row;
}

#readers-for-class-metaobjects_methods_table-and-descriptions ol li:before {
    position: static;
    width: 1.2em;
    text-align: right;
    margin-right: 0.4em;
    flex: none;
}

#readers-for-class-metaobjects_methods_table-and-descriptions ol li p {
    margin: 0;
    margin-right: 1em;
}


nav.tabs.initargs li, nav.tabs.readers li {
    white-space: nowrap;
}

.init-or-readers-nav {
    position: relative;
}

.init-or-readers-nav .toggle {
    vertical-align: middle;
    padding: 0;
}

.init-or-readers-nav .init-readers-toggle {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

.init-or-readers-nav .init-readers-toggle ul {
    background: transparent;
    border: none;
    margin: 0;
    text-align: center;
}

.init-or-readers-nav .init-readers-toggle ul li {
    border: none;
    display: table-row;
}


section.advisory-header > h1 .here:before {
    content: "[";
}

section.advisory-header > h1 .here:after {
    content: "]";
}

section > h1.breadcrumbs a.advisory-header:before {
    content: "[";
}

section > h1.breadcrumbs a.advisory-header:after {
    content: "]";
}
